<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Inputs with labels -->
  <form [formGroup]="loginForm" >
    <ion-grid>
        <ion-row color="primary" justify-content-center>
           <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
             <div text-center>
               <h3>Login</h3>
              </div>
              <div padding>
                <ion-item>
                  <ion-label position="floating" >Email Address</ion-label>
                  <ion-input type="text" name="email" formControlName="email" required=""></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" >Password</ion-label>
                  <ion-input type="text" name="password" formControlName="password" required=""></ion-input>
                </ion-item>
              </div>
              <div padding>
                  <!-- Round -->
                  <ion-button size="medium" expand="block" (click)="login()" shape="round">Log In</ion-button>
                  <ion-button size="medium" expand="block" (click)="signUp()" shape="round" fill="outline">Sign Up</ion-button>
              </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </form>
</ion-content>
