<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
     Temporary
    </ion-title>
  </ion-toolbar>

</ion-header>



<ion-menu side="start" menuId="custom" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>NutriBien</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item [routerLink]="['/profile']">Home</ion-item>
      <ion-item [routerLink]="['/measurements']">Measurements</ion-item>
      <ion-item [routerLink]="['/workout']">Work Out</ion-item>
      <ion-item [routerLink]="['/nutrition']">Nutrition</ion-item>
      <ion-item [routerLink]="['/login']">Log Out</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>
    <ion-menu side="start" menu-id="first">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Start Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-list>
        </ion-content>
    </ion-menu>
</ion-content>


<ion-header>
  <ion-nav>
    <ion-title>
      Profile
    </ion-title>
    
       
  </ion-nav>
</ion-header>

<ion-content>

<h1>Welcome to your profile!</h1>


<ion-card>
<ion-card-subtitle>Personal Information</ion-card-subtitle>

  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position= "floating">Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Phone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Date of Birth</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Height</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button mode="ios" color="success" type ="save" block>Save Changes</ion-button>
</ion-card>
</ion-content>

