<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-nav>
    <img class="profile-image" src="https://scontent.fboi1-1.fna.fbcdn.net/v/t1.0-9/58372653_105427550668252_2995033046580723712_n.jpg?_nc_cat=100&_nc_oc=AQmK7tn8qjDPFO7jR4e1L5sbm3FwgKGaislwrsCKeN5S1HoLemfLVwYBNRpecyQYGB4&_nc_ht=scontent.fboi1-1.fna&oh=a69119c4c3f2e3531b257e297db15802&oe=5D3DBC29">
    <ion-title>
    </ion-title>
    
       
  </ion-nav>
</ion-header>

<ion-content>



<ion-card>
    <h1 padding>Welcome to your profile!</h1>
</ion-card>

<div padding>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position= "floating">Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Phone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Date of Birth</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Height</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position= "floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
</div>
<div padding>
  <ion-button mode="ios" color="success" type ="save" block>Save Changes</ion-button>
</div>
</ion-content>

