ion-content 
{
  --ion-background-color: #20bfbc;
  --ion-color: #000066;
    --ion-font-family:"Open Sans", Helvetica, Arial, sans-serif;
    --ion-font-weight:300;
    --ion-font-size: 13px;
    --ion-line-height:30px;

}

/*

* {
    --ion-margin:0;
    --ion-padding:0;
    --ion-box-sizing:border-box;
    --ion--moz-font-smoothing:antialiased;
    --ion--o-font-smoothing:antialiased;
    --ion-font-smoothing:antialiased;
    --ion--webkit-box-sizing:border-box;
    --ion--moz-box-sizing:border-box;
    --ion--webkit-font-smoothing:antialiased;
    --ion-text-rendering:optimizeLegibility;
}


.container {
    --ion-max-width:525px;
    --ion-position:relative;
    --ion-width:100%;
    --ion-margin:0 auto;
}

#contact {
    --ion-background:#F9F9F9;
    --ion-padding:25px;
    --ion-margin:50px 0;
}

#contact h3 {
    --ion-color: #6d7d82;
    --ion-display: block;
    --ion-font-size: 30px;
    --ion-font-weight: 400;
}

#contact h4 {
    --ion-margin:5px 0 15px;
    --ion-display:block;
    --ion-font-size:12px;
}

fieldset {
    --ion-border: medium none !important;
    --ion-margin: 0 0 10px;
    --ion-min-width: 100%;
    --ion-padding: 0;
    --ion-width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    --ion-width:100%;
    --ion-border:1px solid #CCC;
    --ion-background:#FFF;
    --ion-margin:0 0 5px;
    --ion-padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    --ion--webkit-transition:border-color 0.3s ease-in-out;
    --ion--moz-transition:border-color 0.3s ease-in-out;
    --ion-transition:border-color 0.3s ease-in-out;
    --ion-border:1px solid #AAA;
}

#contact textarea {
    --ion-height:100px;
    --ion-max-width:100%;
  --ion-resize:none;
}

#contact button[type="submit"] {
    --ion-cursor:pointer;
    --ion-width:100%;
    --ion-border:none;
    --ion-background:#b1ed31;
    --ion-color:#FFF;
    --ion-margin:0 0 5px;
    --ion-padding:10px;
    --ion-font-size:15px;
}

#contact button[type="submit"]:hover {
    --ion-background:#09C;
    --ion--webkit-transition:background 0.3s ease-in-out;
    --ion--moz-transition:background 0.3s ease-in-out;
    --ion-transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
    --ion-outline:0;
    --ion-border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

ul {
  --ion-list-style-type: none;
  --ion-margin: 0;
  --ion-padding: 0;
  --ion-overflow: hidden;
  --ion-background-color: #6a5acd;
}

li {
  --ion-float: left;
}

li a {
  --ion-display: block;
  --ion-color: white;
  --ion-text-align: center;
  --ion-padding: 14px 16px;
  --ion-text-decoration: none;
}

li a:hover:not(.active) {
  --ion-background-color: #111;
}

.active {
  --ion-background-color: #ee82ee;
}
*/