<ion-header>
  <ion-toolbar>
    <ion-title>nutrition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="nutrition">
    
    <ion-item>
      <ion-label position="stacked">Protein Label</ion-label>
      <ion-input type="number" placeholder="Proteins" formControlName="Proteins"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Carbs Label</ion-label>
      <ion-input type="number" placeholder="Carbs" formControlName="Carbs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fats Label</ion-label>
      <ion-input type="number" placeholder="Fats" formControlName="Fats"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fibers Label</ion-label>
      <ion-input type="number" placeholder="Fibers" formControlName="Fibers"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Calories Label</ion-label>
      <ion-input type="number" placeholder="Total Calories" formControlName="Calories"></ion-input>
    </ion-item>
    
    <ion-button mode="ios" type="submit" [disabled]="!todo.valid" (click)="submit();">Submit</ion-button>
  </form>

</ion-content>
