.error-message{
    font-size: 0.7em;
    color: red;
    text-align: center;
}

.grams{

    width: 70%;
    margin: 0 auto;
    font-size: 0.8em;
    color: black;
    text-align: center;
    font-style: italic;
}