<ion-header>
  <ion-toolbar>
      <ion-button (click)="return()" slot="start" fill="clear" color="success" >
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title style="width: 100%; text-align: center;">Nutrition History</ion-title>
    
    <ion-toolbar>
    <ion-title>{{viewTitle}}</ion-title>
    </ion-toolbar>
  
  </ion-toolbar>
</ion-header>

<ion-content class="myCalendar">
    <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-col size="6">
          <ion-button expand="block" [color]="calendar.mode == 'month' ? 'warning tint' : 'secondary'" (click)="changeMode('month')">Month</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'warning tint'" (click)="changeMode('week')">Week</ion-button>
        </ion-col>
     
        <!-- Move back one screen of the slides -->
        <ion-col size="6" text-left>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
     
        <!-- Move forward one screen of the slides -->
        <ion-col size="6" text-right>
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
     
      <calendar 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      (onTitleChanged)="onViewTitleChanged($event)"
      step="30"
      startingDayWeek="1">
      </calendar>
</ion-content>
