<ion-header>
  <ion-toolbar>
    <ion-title style="width: 100%; text-align: center;">muser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col size-md="3">
      <div>
        <ion-label>
        {{neck}}
        </ion-label>
      </div>
    </ion-col>
    <ion-col size-md="3">
      <div>
        {{hip}}
      </div>
    </ion-col>
    <ion-col size-md="3" offset-md="3">
      <div>
        {{thigh}}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col size-md="3">
      <div>
        {{belly}}
      </div>
    </ion-col>
    <ion-col size-md="3">
      <div>
        {{bicep}}
      </div>
    </ion-col>
    <ion-col size-md="3" offset-md="3">
      <div>
        {{date}}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>



<!-- with name set 
<ion-item>
  <ion-label>Todo</ion-label>
  <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
</ion-item>


<ion-item>
  <ion-label>Todo</ion-label>
  <ion-input type="text" [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}"></ion-input>
</ion-item>
	code to retrieve the database info	-->

</ion-content>
