<form action="/action_page.php">
  <fieldset>
    <legend>Submit your activity today?</legend>
    First name:<br>
    <input type="text" name="firstname" value="Mickey"><br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>



<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
      <h1>Database</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="workoutForm" novalidate>
    <ion-item>
      <ion-label>Submit your workout</ion-label>
      <ion-input type="text" required [(ngModel)]="todo.title" ngControl="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" ngControl="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add workout</button>
  </form>
</ion-content>
