body {
    background-color:#b1ed31;
}

h1{
    color:white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size:112px;
    background-color:#6d7d82;
}