.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content 
{
  --ion-background-color: #c5ffc5;
  --ion-color: #000066;
  //--ion-padding: 0;
  //--ion-margin: 0;
  //--ion-perspective: 1px;
  //--ion-transform-style: preserve-3d;
  //--ion-height: 100%;
  //--ion-overflow-x: hidden;
}
