.error-message{
    font-size: 0.7em;
    color: red;
    text-align: center;
}
//ion-header
//{
    //--ion-background-color: #10dc60;
    //--ion-background-color: white;
    //
//}
//ion-content
//{
    //--ion-background-color: #6d7d82;

//}
//-->