
<ion-header>
  <ion-toolbar>
      <ion-button (click)="back()" slot="start" fill="clear" color="success" >
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    <ion-title style="width: 100%; text-align: center;">register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://scontent.fboi1-1.fna.fbcdn.net/v/t1.0-9/58441933_100745157803158_5247564108512886784_n.jpg?_nc_cat=106&_nc_oc=AQkfWhgoeZ7r8WKlEHODQv-GoJAiXTS_P2Mg1m4DuLci0DiFl24EK-LyVgYIKRGkFfk&_nc_ht=scontent.fboi1-1.fna&oh=c98ec87efc8ea55d4f30b48095191be0&oe=5D6F8021"></ion-img>
  <form [formGroup]="registerForm" >
      <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                  <h3>Create Your Account</h3>
              </div>
              <div padding>                
                <ion-item>
                  <ion-label position="floating">First Name</ion-label>
                  <ion-input type="text" name="firstName" formControlName="FirstName" required=""></ion-input>
                </ion-item> 

                <ion-item>
                  <ion-label position="floating">Last Name</ion-label>
                  <ion-input type="text" name="lastName" formControlName="LastName" required=""></ion-input>
                </ion-item> 
                
                <ion-item>
                  <ion-label position="floating">Phone Number</ion-label>
                  <ion-input type="tel" name="phoneNumber" formControlName="PhoneNumber" ></ion-input>
                </ion-item>  

                <ion-item>
                  <ion-label position="floating">Email Address</ion-label>
                  <ion-input type="text" name="emailAddress" formControlName="EmailAddress" required=""></ion-input>
                </ion-item>  

                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" name="password" formControlName="Password" required=""></ion-input>
                </ion-item>  

                <ion-item>
                  <ion-label position="floating">Confirm Password</ion-label>
                  <ion-input type="password" name="conformPassword" formControlName="ConformPassword" required=""></ion-input>
                </ion-item>  

                <ion-item>
                  <ion-label position="floating">Date of Birth</ion-label>
                  <ion-datetime type="date" formControlName="Birthday" name="Birthday" required=""></ion-datetime>
                </ion-item>  

                <ion-item>
                  <ion-label position="floating">Height</ion-label>
                  <ion-input type="number" name="Height" formControlName="Height"required="" ></ion-input>
                </ion-item>  

                <img [src]="image" [hidden]="!image">
                <input type="hidden" name="thumbnail" formControlName="Thumbnail">
                <ion-button size="medium" expand="block" (click)="getPhoto()" fill="outline" shape="round" color="success">
                <ion-icon slot="start" name="add-circle"></ion-icon>Add Image</ion-button>
        

    
            </div>
            <div padding> 
              <ion-button size="medium" expand="block" shape="round" (click)="submit()" type="submit" color="success" >Register</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>
</ion-content>


