<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>  
  
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>  
  
  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label position="floating">Date of Birth</ion-label>
    <ion-input></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label position="floating">Height</ion-label>
    <ion-input></ion-input>
  </ion-item>  

 
  <ion-button (click)="lgin()" shape="round" fill="outline">Log In</ion-button>
 
</ion-content>
