<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registerData()">
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" placeholder="Last Name"[(ngModel)]="data.lastName" name="lastName" required=""></ion-input>
    </ion-item>  
    
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" placeholder="First Name"[(ngModel)]="data.firstName" name="firstName" required=""></ion-input>
    </ion-item>  
    
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number" placeholder="Phone Number"[(ngModel)]="data.phoneNumber" name="phoneNumber" required=""></ion-input>
    </ion-item>  

    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="text" placeholder="Email Address"[(ngModel)]="data.emailAddress" name="emailAddress" required=""></ion-input>
    </ion-item>  

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" placeholder="Password"[(ngModel)]="data.password" name="password" required=""></ion-input>
    </ion-item>  

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="text" placeholder="Confirm Password"[(ngModel)]="data.conformPassword" name="conformPassword" required=""></ion-input>
    </ion-item>  

    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.birthday" name="birthday" required=""></ion-datetime>
    </ion-item>  

    <ion-item>
      <ion-label position="floating">Height</ion-label>
      <ion-input type="number" placeholder="Height"[(ngModel)]="data.height" name="height" required=""></ion-input>
    </ion-item>  
    <button ion-button type="submit" shape="round" block>Register</button>
  </form>
</ion-content>
